
@{
    ViewBag.Title = "Index";
}

<h2 style="font-size:50px">Index</h2>

<a href="~/Shampoo" style="font-size:30px"> Shampoo </a>
<br />

<a href="~/Desodorante" style="font-size:30px"> Desodorante</a>
<br />

<a href="~/Perfume" style="font-size:30px"> Perfume </a>
<br />

<a href="~/MostraProdutos" style="font-size:30px"> Exibir produtos cadastrados</a>
<br />
<br />
<br />


